body {
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	height: max-content;
	margin-bottom: 0px;
	padding: 0;
	background-color: #f2f2f2;
}
span {
	padding: 2rem;
}
.container {
	display: flex;
	max-width: 700px;
	margin: 10px auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
	border-top-left-radius: 10px; /* Memberikan radius pada pojok kiri atas */
	border-bottom-left-radius: 10px; /* Memberikan radius pada pojok kiri bawah */
	width: 45%;
	background-color: #00509d;
}

.nama {
	text-align: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #fdc500;
	margin-left: 10px;
}

small i {
	color: #ffffff;
	margin-left: 0px;
	margin-right: 10px;
}
small i:hover {
	background-color: #02417c;
	cursor: pointer;
	padding: 2px;
	border-radius: 5px;
}

.contact p {
	border-top-right-radius: 10px; /* Memberikan radius pada pojok kiri atas */
	border-bottom-right-radius: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 150px;
	padding: 5px;
	background-color: #fdc500;
	color: #363636;
}

a small {
	font-style: italic;
	font-size: 10px;
	margin-left: 1px;
	color: #ffffff;
}
.content {
	width: 100%;
	margin-left: 20px;
}
.content p {
	margin-right: 20px;
}
section h2 {
	background-color: #00509d;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-left: 10px;
	color: #ffffff;
}
section p {
	font-size: 90%;
	margin-left: 0px;
}
.badges p {
	font-size: 90%;
	font-style: italic;
}
.badges {
	display: flex;
}

.judul p {
	margin-left: 20px;
}
.ketrampilan {
	margin-top: 40px;
}
.Sertifikasi img {
	width: 100px;
	height: 80px;
	margin-bottom: 5px;
	transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.Sertifikasi img:hover {
	transform: scale(4.4); /* Sesuaikan dengan faktor pembesaran yang diinginkan */
	filter: brightness(1.2); /* Sesuaikan nilai kecerahan yang diinginkan */
	transform-origin: right; /* Mengatur titik awal transformasi */
	align-items: flex-start;
}

.circle img {
	width: 90px;
	height: 90px;
	display: block; /* Memastikan gambar dianggap sebagai blok */
	margin: 0 auto;
	border-radius: 50%;
}
.circle img:hover {
	transform: scale(2.1); /* Sesuaikan dengan faktor pembesaran yang diinginkan */
	filter: brightness(1.2);
}
:root {
	--percentage: 50%; /* Nilai default persentase */
}

.bar {
	border-top-right-radius: 6px; /* Memberikan radius pada pojok kiri atas */
	border-bottom-right-radius: 6px;
	text-align: center; /* Teks akan berada di kanan batang */
	line-height: 20px; /* Aling baseline teks */
	color: rgb(0, 0, 0); /* Warna teks */
	margin-bottom: 10px; /* Jarak antar batang */
	background: linear-gradient(to right, #0096c7 var(--percentage), #ffffff var(--percentage));
	margin-right: 6px;
}
.ttd {
	opacity: 30%;
	margin-top: 120px;
	color: #fff;
	margin-left: 10px;
	bottom: 0;
	left: 0;
}
/* Contoh penggunaan */
#html {
	--percentage: 80%;
}
#js {
	--percentage: 50%;
}

#laravel {
	--percentage: 60%;
}

#php {
	--percentage: 70%;
}

.line-with-message {
	display: flex;
	align-items: center;
}

.line {
	flex: 1;
	padding: 1px;
	border-top: 1px solid #0030b4;
}

.message {
	padding: 0 30px;
	margin-top: 5px;
}

@media screen and (max-width: 540px) {
	.circle img {
		max-width: 100%;
		border-radius: 50%;
		height: 90px;
		/* Opsional: Ini akan memastikan rasio aspek gambar dipertahankan */
	}
	.content section {
		width: 100%;
	}
	.message {
		padding: 0 3px;
		margin-top: 5px;
	}
	.content {
		width: 610px;
	}
	.container {
		width: 430px;
	}
	body {
		height: max-content;
	}
	.line {
		flex: 1;
		padding: 7px;
		border-top: 1px solid #0030b4;
	}
	.sidebar {
		border-top-left-radius: 10px; /* Memberikan radius pada pojok kiri atas */
		border-bottom-left-radius: 10px; /* Memberikan radius pada pojok kiri bawah */
		width: 40%;
		background-color: #00509d;
	}
	.icon-organisation {
		color: #ffffff;
	}
	.organisation {
		font-size: 15px;
	}

	.ttd {
		opacity: 30%;
		margin-top: 300px;
		color: #fff;
		margin-left: 10px;
		bottom: 0;
		left: 0;
	}
}

.animated-background {
	background: linear-gradient(45deg, #fbfbfc, #b741fc, #ffffff, #8b32ff);
	background-size: 300% 300%;
	animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.icon-github {
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 20px;
}

.icon-organisation {
	color: #ffffff;
}
